*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main img styling */
main #home img{
    width: 1480px;
    height: 700px;
    
    display: block;
    margin: auto;
    margin-top: 14px;

    /* margin-left: 20px;
    margin-top: 14px; */

    border-radius: 35px;
}