@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Jost", serif;
    font-optical-sizing: auto;
}

html,body{
    width: 100%;
    height: 100%;

    position: relative;
}

/* nav bar styling */
nav{
    float: left;
    width: 100%;

    background-color: #f23636;
}

nav ul li{
    float: left;
    list-style: none;

    padding-left: 2vw;
    padding-top: 1vw;
}

nav ul li a{
    text-decoration: none;
    
    color: #000000;
    font-weight: 550;
    font-size: 2vw;
}

nav ul li:nth-child(5){
    margin-left: 5vw;
}

nav ul li:nth-child(5) a{
    color: #6c6861;
    font-size: 4vw;
}

nav ul li:nth-child(6){
    margin-left: 400px;
}

nav ul button{
    width: 10vw;
    height: 5vh;

    font-weight: 500;
    font-size: 1vw;

    text-align: center;

    border-style: solid;
    border-width: 0.1vw;
    border-radius: 2vw;

    float: left;
    list-style: none;

    margin-left: 24vw;
    margin-top: 2vw;
}



/* main-home styling */
#home{
    width: 98vw;
    height: 80vh;
    
    background-image: url(assets/home-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 35px;
    margin: auto;
    margin-top: 1vw;
}


#home h2{
    width: 45vw;
    height: 32vw;
    color: #ffffff;
    font-size: 7vw;
    
    float: right;
    text-align: right;

    margin-top: 3vw;
}

#down-arrow{
    width: 4%;
    height: 40px;

    text-align: center;
    position: relative;

    margin: auto;

    color: #000000;
    font-size: 30px;
}



/* main-app styling */
#app{
    width: 98vw;
    height: 80vh;

    background-color: #eaeaea;
    margin: auto;

    border-radius: 35px;
    border-style: solid;

    display: flex;
    align-items: center; 
    justify-content: space-between;
}

#app div{
    border-style: solid;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

#leftie{
    margin-left: 6vw;
}

#app h2{
    width: 30vw;

    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 3.8em;
}

#app p{
    width: 30vw;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1em;
    border-style: solid;
    margin-top: 1vw;
}

#app button{
    width: 14vw;
    height: 6vh;

    margin-left: 8vw;
    margin-top: 1vw;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.2em;

    border-radius: 20px;
    border-style: solid;
    background-color: #a1ea93;
}

#app button:hover{
    background-color: #000000;
    color: #eaeaea;
    filter: drop-shadow(10px 10px 2px #9e9b9b);
}

#app div img{
    width: 40vw;
    height: 60vh;

    border-radius: 25px;
    border-style: solid;

    filter: drop-shadow(10px 10px 2px);
}

#rightie{
    margin-right: 6vw;
}


/* main-offer styling */
#offer{
    width: 98vw;
    height: 80vh;

    background-image: url(assets/offer-img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    border-radius: 35px;

    display: block;
    margin: auto;
    margin-top: 5vh;
}

#offer h1{
    margin-left: 30px;
    padding-top: 30px;
    color: #ffffff;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 65px;
}

#offer p{
    width: 500px;
    margin-left: 30px;
    color: #ffffff;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 25px;
}

#offer button{
    width: 240px;
    height: 40px;

    float: right;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;

    border-radius: 20px;
    border-style: solid;
    background-color: #a1ea93;
}

#bada-box{
    width: 60%;
    height: 140px;

    margin-top: 60px;
    margin-left: 40px;
    
    float: left;

    font-family: "Jost", serif;
    font-optical-sizing: auto;

    display: flex;
    gap: 10px;
    border-radius: 20px;
}

.chhotu{
    width: auto;
    background-color: #ffffff;
    
    border-radius: 20px;
    border-style: solid;

    padding-left: 10px;
}

.chhotu i{
    width: 36px;
    height: 36px;

    margin-top: 5px;
    text-align: center;
    align-content: center;

    border-style: solid;
    border-radius: 20px;

    background-color: #f2f2f2;
}

.chhotu h2{
    margin-top: 20px;
    font-size: 20px;
}

.chhotu h6{
    width: 80%;
}



/* main-trainer styling */
#trainer-info{
    width: 98vw;
    height: 80vh;

    background-color: #f2f2f2;

    margin: auto;
    margin-top: 5vh;

    border-radius: 35px;
    border-style: solid;
    border-width: 1px;
}

.headhi{
    height: 8vw;
    border-style: solid;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#trainer-info h1{
    border-style: solid;
    margin-left: 3vw;

    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 65px;

    display: flex;
    border-radius: 20px;
    color: #000000;
}

#trainer-info div button{
    width: 12vw;
    height: 6vh;

    float: right;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.4rem;

    margin-right: 3vw;
    border-radius: 20px;
    border-style: solid;
    background-color: #a1ea93;
}

#trainer-info div button:hover{
    background-color: #000000;
    color: #eaeaea;
    filter: drop-shadow(10px 10px 2px #9e9b9b);
}

#train{
    height: 60vh;
    width: 98vw;
    
    font-family: "Jost", serif;
    font-optical-sizing: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-radius: 20px;
    border-style: solid;
}

#trainer1,#trainer2,#trainer3,#trainer4{
    width: 22vw;
    height: 400px;

    align-content: flex-end;
    padding-bottom: 20px;

    color: #ffffff;
    
    border-radius: 20px;
    border-style: solid;

    padding-left: 10px;
    
}

#trainer1{
    background-image: url(assets/trainer-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
}

#trainer2{
    background-image: url(assets/trainer-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
}

#trainer3{
    background-image: url(assets/trainer-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
}

#trainer4{
    background-image: url(assets/trainer-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
}
